<H2> Welcome to the Rock Paper Scissors page</H2>
<p>The rules are:</p>
<p> Input in the address bar:</p>
<code> localhost:4567/rps/&lt;hand1&gt;/&lt;hand2&gt;</code>
<p> where &lt;hand1&gt; and &lt;hand2&gt; can be rock, paper or scissors
